

.header {
    display: grid;
    grid-template-columns: auto 1fr  110px;
    margin: 20px auto ;
    width: 95%;
    max-width: 1400px;
}

.logOutBtn {
  
    display: block;

    background: var(--black);
    padding: 0 20px;
    text-align: center;
    color:var(--white);
    border: var(--white) solid 1px; 
    border-radius: 50px;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
    height: 50px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    &:hover {

// background: rgba(#232323, 0.8);
background-color: rgb(27, 27, 27); 
color:var(--white);
    }
}

.signInContainer {
   
    flex: 1 50%;
    display: flex;
    align-items: center;
 justify-content: center;

}

.signFormWrapper {
    width: 250px;
}

.inputs {
    margin-bottom: 5px;
}
.title {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 20px;

}


.btn {
  
    display: block;

    background: var(--black);
    padding: 10px 0;
    text-align: center;
    color:var(--white);
     border: var(--white) solid 1px; 
    // border-radius: 50px;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
    //height: 50px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    &:hover {

// background: rgba(#232323, 0.8);
background-color: rgb(27, 27, 27); 
color:var(--white);
    }
}
.formContainer {
    width: 300px;
    margin: 200px auto;
}