.mainContainer {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    // align-items: center;
    // justify-content: center;
}
.imageContainer {

    flex: 1 50%;

    background-color: var(--black);
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    p {
        text-align: center;
        font-size: 2rem;
        width: 100px;
        margin: 10px auto;
    }
}